/* --- Base Styles --- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h2 {
    margin-top: 2rem;
}

p {
    font-size: .95em;
    margin: 0.4rem;
    font-weight: 300;
}

a {
	text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

section {
    margin: 0 1rem; 
}

/* - Nav - */
nav {
    border-bottom: 1px solid #cccccc;
}

.nav-flex-container h1 {
    font-size: 1.35em;
	margin: 0;
}

.nav-flex-container h1 a,
.nav-flex-item a {
    text-align: center;
	display: block;
	padding: 10px 15px;
}

.nav-flex-item a {
    font-size: .95em;
	text-transform: uppercase;
}
.nav-flex-item a:hover {
	color: #000;
}

/* --- Media Queries --- */
/* - Tablet - */
@media (min-width: 600px) {
    section {
        margin: 0 3rem; 
    }
    .nav-flex-container,
    .nav-flex-item {
        display: flex;
    }

    .nav-flex-container {
        flex-direction: column;
		align-items: center;
    }
}

/* - Desktop - */
@media (min-width: 1025px) {
    section {
        margin: 0 4rem;

    }

    .nav-flex-container {
		flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
	}
}

/* --- Homepage --- */

.main-parts {
    flex-direction: column;
}

/* --- Media Queries --- */
/* - Tablet - */
@media (min-width: 600px) {
    .main-parts {
        flex-direction: row;
    }
    
}

/* - Desktop - */
@media (min-width: 1025px) {
    .main-parts {
        flex-direction: row;
    }
    
}